* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: darksalmon;
    width: 50%;
    margin: 0 auto;
}

h1 {
    margin: 2rem;
    font-size: 3rem;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #333;
}

li {
    margin: 1rem;
    list-style-position: inside;

}

h2 {
    margin: 1rem;
}

p {
    font-family: monospace, sans-serif;
}
